*, *::before, *::after {
    box-sizing: inherit;
  }
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    width: 1440px;
}
.section-title {
    padding: 100px 0px 60px 0px;
}
/* Header styles start */

.header-logo {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}
.logo {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    fill: #FFFFFF;
    cursor: pointer;
}  
.logo:hover, :focus {
    fill: #bdae82;
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    height: 90px;
    padding: 20px;
    margin: 0 auto;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header-lng {
    display: flex;
    align-items: center;
}
.nav {
    margin-left: auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-item {
    margin-right: 30px;
 }
.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 50px;
    transition: .3s;
}
.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited {
    color: #bdae82;
}
.switch-lng {
    cursor: pointer;
}

/* Header styles end */

/* Hero styles start */

.hero-container {
    display: flex;
    justify-content: flex-start;
    width: 1440px;
    height: 820px;
    padding-left: 80px;
    padding-top: 160px;
    background-image: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    width: 500px;
    height: 330px;
}
.hero-name {
    width: 500px;
    height: 120px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
}
.hero-text {
    width: 470px;
    height: 120px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.button-gold {
   display: inline-block;
    height: 55px;
    width: 220px;
    border: 0;
    border-radius: 0px;
    outline: 0;    
    background-color: #bdae82;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.button-gold:hover {
    color: #FFFFFF;
    background-color: #bdae82;  
}
.button-gold:active {
    border: 1px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: #000000;
    transition: .3s;
}
/* Hero styles end */

/* Skills styles start */
.container {
    background: #000000;
}
.skills-container {
    width: 1440px;
    height: 482px;
}
.section-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}
.section-title {
    padding-top: 100px;
    margin: 0 auto;
}
.skills-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 242px;
    padding-left: 20px;
}
.items-camera, .items-video, .items-retouch, .items-audio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 0px 20px 8px 20px;
    width: 320px;
    height: 240px;
    background-position: center top;
}

.items-camera:nth-child(1) {
    background-image: url('./assets/svg/camera 1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;    
}
.items-video:nth-child(2) {
    background-image: url('./assets/svg/video 1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;    
}
.items-retouch:nth-child(3) {
    background-image: url('./assets/svg/image 1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;    
}
.items-audio:nth-child(4) {
    background-image: url('./assets/svg/mic 1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;    
}
.services {
    padding-top: 100px;
    width: 280px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.description {
    width: 280px;
    height: 72px;
    padding-top: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
/* Skills styles end */

/* Portfolio styles start */
.portfolio-container {
    height: 1500px;
}
.portfolio-btns {
    display: flex;
    flex-direction: row;
    width: 895px;
    height: 55px;
    margin-left: 272px;
    margin-bottom: 60px;
    gap: 5px;
}
.button-black {
    height: 55px;
    width: 220px;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 7.5px 73px;
    color: #bdae82;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.button-black:hover, :focus {
    color: #FFFFFF;
    border: 2px solid #BDAE82;
}
.button-black:active {
    color: #000000;
    background: #BDAE82;
    transition: .4s;
}
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
    height: 1145px;
    gap: 25px;
}
.photo {
    width: 450px;
    height: 560px;
    border-radius: 0px;
}
/* Portfolio styles end */

/*Video styles end */
.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.play {
    position: absolute;
}
.play-hover {
    cursor: pointer;
    fill: #FFFFFF;
    width: 130px;
    height: 130px;
}
.play-hover:hover, :focus {
    fill: #bdae82;
    transition: .4s;
}
/* Video styles end */

/* Price styles start */
.price {
    height: 845px;
}
.price-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    height: 505px;
    width: 1400px;
    gap: 25px;    
}
.block_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 40px 0 40px 0;
}
.name-item {
    width: 128px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;     
    text-align: center;    
    color: #FFFFFF; 
    text-align: center;
    margin-bottom: 20px;
}
.price-item {
    width: 69px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
    margin-bottom: 20px;
}
.description-item {
    width: 364px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}
/* Price styles end */